html, body{
    margin:0;
    padding:0;
    width: 100%;
    font-size:12px;
    background-color:#fff;
}
.header-img{
    margin:0;
    padding:0;
    background-image: url("http://i.imgur.com/5oRD9PS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 90% 100%;
    height: 85vh;
    background-position: center;
   
}
#banner{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 20px 0px 0px;
    background-color: #dfdbdb;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    width:88.4%;
    height: 60px;
}
.rectangle {
	width: 225px;
	height: 30px;
	background:#b998d0 ;
    float: left;
    padding: 30px 0px 0px 55px;
}

.triangle{
	width: 0;
	height: 0;
	border-bottom: 60px solid #dfdbdb;
	border-left: 90px solid transparent;
  float: left;
  position: absolute;
  left: 190px;
}
.madera_logo{
    display: block;
    text-transform: capitalize;
    font-size:18px;
    color: #fff;
} 

/*weather update*/
.weather{
    margin-top: 30px;
    position: relative;
    right: 45px;
    font-size: 20px !important; 
}

/*search bar slide out*/

#wrap {
 
  display: inline-block;
  float: right;
  padding: 0;
  width: 15%;
}
form{
    margin-top: 15px;
}
.search_bar{
    width: 100px;
    float: left;
}
input[type="search"]{

  width:50px;
  height: 30px;
  -moz-transition:all 2s ease;
  -webkit-transition:all 2s ease;
  float: right;
    background: none;
    border: none;
    position: relative;
    right: 10px;
    top: -15px; 
    background-image: url("http://i.imgur.com/bt0zVL9.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    

input[type="search"]:focus{

  width:225px;
}

input[type="search"]:hover{

  width:225px;
}


.menu{
    float: right;
      font-size:20px;
    margin-top: 10px;
}
